<div class="full-screen container">
    <div id="chat" class="full-screen col-lg-10">
        <h4>Chat History</h4>
        <ul id="scroll" class="messages list-group">
            <li embed-video class="message clearfix list-group-item animate-repeat" ng-repeat="message in messages">
                <span class="user col-lg-1">{{message.name}}</span>
                <span class="message-text col-lg-11">{{message.text}}</span>
            </li>
        </ul>
        <div class="chat-input">
            <form ng-submit="submit()" class="form-inline" role="form">
                <div class="input-group">
                    <input class="form-control" chatlog x-ng-focus="chatInputFocused" ng-focus-lost="loseFocus()"
                           type="text" ng-model="text" name="text"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="full-screen col-lg-2">
        <div id="user-list">
            <h4>Users Online</h4>
            <ul id="user_list" class="list-group nav nav-pills nav-stacked">
                <li class="list-group-item" ng-repeat="user in current_users.users">{{user.name}}</li>
            </ul>
        </div>
        <a class="change-username" ng-click="open()">Change Username</a>
        <media-player title="{{currentSong.title}}" src="{{currentSong.url}}"/>
    </div>
</div>

